.gradle
/registry/build/
/registry/out/
/manga/build
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
*.iml

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

**/resources/manga/